{% extends 'basic/main.html' %}
{% block title %} This is CONTACT|PAGE {% endblock %}
{% block myblock %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.297473189006!2d71.63555742588643!3d40.99686181309886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb4b53b3d1aa1d%3A0xf01247f941cd093c!2sNamangan%20IT%20School!5e0!3m2!1suz!2s!4v1674560297419!5m2!1suz!2s" width="600" height="90%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
            <div class="card shadow p-4 my-2">
                <h3 class="text-center">Biz bilan Aloqa</h3>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label">FullName</label>
                        <input type="text" class="form-control"
                        required placeholder="Enter a your fullname" name="fullname">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Phone Number</label>
                        <input type="text" class="form-control"
                        required placeholder="Enter a your phone" name="phone">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control"
                        required placeholder="Enter a your email" name="email">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Subject</label>
                        <input type="text" class="form-control"
                        required placeholder="Enter a your subject" name="subject">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Text</label>
                        <textarea name="text" rows="5"
                        class="form-control" required placeholder="Enter a something"></textarea>
                    </div>
                    <div class="form-group my-2">
                        <input type="submit" class="btn btn-primary" name="submitBtn" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}