{% extends 'basic/main.html' %}
{% block title %} This is LOGIN|PAGE {% endblock %}

{% block myblock %}

<div class="d-flex justify-content-center align-items-center my-5">
    <form method="post">
        {% csrf_token %}
        <label>Username</label>
        <input class="mb-2 form-control" type="text" placeholder="Enter Username" name="username" required>
        
        <label>Password</label>
        <input required class="mb-2 form-control" type="password" placeholder="Enter Password" name="password">
        <button id="submit_btn" class="btn btn-success w-100 my-3" type="submit">Davay</button>
        {% if error%}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif%}
    </form>
</div>

{% endblock %}