{% extends 'main.html' %}

{% block title %}
Tasks List
{% endblock %}



{% block content %}

<div class="container">
    <center>
        <div class="card card-body mt-5 w-50 shadow">
            <form action="" method="post">
                <div class="mt-5 w-50  mb-3">
                    <div class="card-title">
                        <h4>Create Task</h4>
                    </div>
                </div>
                {% csrf_token %}

                <label>Title</label>
                <input required name="title" class="form-control mb-3" type="text" placeholder="Title">

                <label>Description</label>
                <textarea  class="form-control mb-3" name="description" rows="5" placeholder="description"></textarea>
                
                <label for="complated">Complated</label>
                <input name="complated" id="complated" type="checkbox">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success w-25">Save</button>
                </div>
            </form>
        </div>
    </center>
</div>

{% endblock %}