{% extends 'main.html' %}


{% block title %}
Todo List | Register
{% endblock %}


{% block content %}
    
    <div class="container">
        <center>
            <div class="card card-body mt-5 w-50 btn btn-outline-success">
                <div class="card-title">
                    <h4>Register</h4>
                </div>
                <form method="post">
                    {% csrf_token %}
    
                    <input class="form-control my-3" type="text" placeholder="Username" name="username">
                    <input class="form-control my-3" type="password" placeholder="Parol" name="password">
                    <input class="form-control my-3" type="password" placeholder="Parol tastiqlash" name="password2">
                    <span>Akkunt mavjudmi? <a href="{% url 'login'%}"></a></span>
                    <button class="btn btn-primary" type="submit">Yuborish</button>
                </form>
                {% if error %}
                <div class="alert alert-danger my-2">
                    {{ error }}
                </div>
                {% endif %}
            </div>
        </center>
    </div>

{% endblock %}